  h1 {
    font-size: 20px;
  }
  
  ul {
    padding: 0; /* убираем отступ слева от списка */
    margin: 0; /* убираем область отпуста сверху, которая образуется из-за списка */
    list-style: none; /* убираем точки */
}

.main {
  font-family: 'Roboto', cursive, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(0, 0, 0);
  margin-right: 60px;
  font-size: 20px;
  line-height: 20px;
  margin-top: 20px;
  margin-left: 100px;
  margin-bottom: 20px;
}

.main-abt {
  font-family: 'Roboto';
  color: rgb(0, 0, 0);
  margin-right: 60px;
  font-size: 16px;
  line-height: 20px;
  margin-top: 20px;
  margin-left: 100px;
  margin-bottom: 20px;
}

.cat {
  font-size: 16px;  
}

.container {
  max-width: 75%; /* ограничиваем область nav*/
  margin: 0 auto; /* отступ сверху и снизу нам не нужен, слева и справа хотим 25% распределить автоматом*/
}

.header li { /* добавили header, чтобы ol в body выравнивался не в одну линию, как меню*/
  display: inline; /* выравниванием меню с одну строку */
  margin-right: 60px; /* отступы между пунктами меню */
}

.header {
  font-family: 'Roboto', cursive, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(255, 255, 255);
  padding: 20px 0;
  letter-spacing: 2px;
  border-bottom: 5px solid #030303;
  font-size: 1.25rem;
  background-image: url(images/vindovs-10-2560x1440-4k-5k-maykrosoft-siniy-6992.png);
}

.form {
  text-align: center;
}

.footer {
  position: relative;
  bottom: 0;
  
  font-family: 'Roboto', cursive, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-top: #000000;
  background-color: rgb(255, 244, 91);
  color: #000000;
  border-top: 3px solid #000000;
  border-bottom: 3px solid #000000;
}

.bg {
  background-color:rgb(123, 252, 252);
}