.header {
    border-bottom: 5px solid black;
    margin-bottom: 50px;
    padding: 1%;
}

.img-box {
    padding: 5%;
}

.img-game img {
    width: 430px;
    margin-bottom: 7px;
    border: 5px solid blue;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.go-btn {
    align-items: center;
    background-color: black;
}

.main {
    background-image: url('images/bliss 4k.jpg');
    background-size: 100%;
}

.footer {
    border-top: 5px solid black;
    margin-top: 50px;
    padding: 1%;
}